<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2" />

    <title>Ejercicio 10.1</title>
    <meta charset="utf-8">

  <link rel="stylesheet" href="css/themes/personal.css" />
  <link rel="stylesheet" href="css/themes/jquery.mobile.icons.min.css" />
<!-- link rel="stylesheet" href="js/jQueryMobile/jquery.mobile.theme-1.4.5.css" /-->
<!--link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" /-->
  <link rel="stylesheet" href="css/themes/jquery.mobile-1.4.5.css" />

  <link rel="stylesheet" href="css/themes/custom.css" />
  <link rel="stylesheet" href="css/themes/jquery.mobile.icons.min.css" />
  <!-- script src="js/jquery-1.11.1.min.js"></script -->
  <!-- script src="http://code.jquery.com/jquery-1.11.1.min.js"></script -->
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/jQueryMobile/jquery.mobile-1.4.5.min.js"></script>
  <script src="js/funciones.js"></script>

<link rel="stylesheet" href="css/custom.css" />
<!--link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script-->


    </head>


<body>
   <div data-role="page">
      <div data-role="header">
         Página para móviles
      </div>
      <div data-role="content">


<form method="post" action="registrar.php" name="formulario" autocomplete="true">
            <div><label>Tu Nombre:</label><input type='text' class='nombre' value=''></div>
            <div><label>Tu Email:</label><input type='text' class='email' value=''></div>
            <div><label>Asunto:</label><input type='text' class='asunto' value=''></div>
            <div><label>Mensaje:</label><textarea rows='6' class='mensaje'></textarea></div>
            <div><input type='submit' value='Envia Mensaje' class='boton'></div>
        </form>


      </div>
      <div data-role="footer">
         Contacta y lo que sea...
      </div>
   </div>
</body>


</html>